<a href="https://colab.research.google.com/github/soujanya-vattikolla/Python_for_Everybody/blob/main/About_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

To know the **version** of python

In [ ]:
!python --version

Python 3.7.12

### What is a Code?<br>
Stored set of instructions.

**Features of Python:**

Simple and easy to learn.<br>
Free and open source.<br>
General Purpose and high level programming language.<br>
Platform independent.<br>
Case Sensitive.<br>
Interpreted Language.<br>
Dynamically typed.

**Reserved words** <br>
You cannot use reserved words as variable names / identifiers

**Constants** <br>
Fixed values such as numbers, letters, their value does not change.<br>
Nummeric constants and String constants

**Variable** <br>
A variable is a container to store data values.<br>
**Rules**: <br>
Variable should start with a letter or _ <br>
Must consist of letters, numbers, underscores <br>
Case sensitive

**Expressions**<br>
Numeric Expressions <br>
**Operator Precedence**<br>
Parentheses, <br>
Exponentiation, <br>
Multiplication, <br>
Addition and <br>
Left to Right

**Integer division**<br>
It produces a floating point result.

**String conversions**

In [ ]:
sval = '123'
print(type(sval))
print(sval+1) # we get a string concantenation error

<class 'str'>

TypeError: ignored

In [ ]:
ival = int(sval)
print(type(ival))
print(ival+1)

<class 'int'>
124

**User Input**

In [ ]:
nam = input("Enter your name:")
print('Welcome',nam)

Enter your name:Soujanya
Welcome Soujanya

**Converting user input**

In [ ]:
inp = input("Enter floor ")
flr = int(inp)+1
print("Floor",flr)

Enter floor 5
Floor 6

**Comments**<br>
To add description to the code.

**Conditional Execution**<br>
Comparison operators look at variables but do not change the variables <br>
Boolean expressions using comparison operators evaluate to True/False or Yes/No

**Indentation**<br>
Indentation in Python refers to the (spaces and tabs) that are used at the beginning of a statement.

**Conditional Structures**<br>
One way decision <br>
Two way decision: <br>
   If and else   <br>
Nested Decisions   <br>
Multi way decision using elif

In [ ]:
x = 1
if x<2:
    print("Below 2")
elif x >= 2:
    print("Two or more")
else:
    print("else")

Below 2

**if...elif..else Statement**

In [ ]:
marks = int(input("Enter the marks:"))
if marks >=90 and marks<=100:
  print("A grade")
elif marks >=80:
  print("B grade")
elif marks >=70:
  print("C grade")
elif marks >=60:
  print("D grade")
else:
  print("Fail")

Enter the marks:85
B grade

**Nested if - else Statements**

In [ ]:
marks = int(input("Enter marks: "))
if marks >= 75:
  print("Grade: ",end=' ')
  if marks >=90:
      print("A")
  elif marks >=80:
      print("B")
  elif marks >=70:
      print("C")
else:
  print("D")

Enter marks:80
Grade:  B

**Try and except Structure**<br>
If the code in try works, then except is skipped <br>
If the code in try fails, then except is executed

**Functions** <br>
Reusability of Code.<br>
There are two kinds of functions: Built-in functions and Functions that we define ourselves and then use <br>
We define a function using the def reserved word

In [ ]:
def myFirstFunction():
  print("FirstFunction")
myFirstFunction()

FirstFunction

**Arguments** <br>
An argument is a value we pass into the function as its input when we call the function.

In [ ]:
def square(num):
  print("The square of {} is {} " .format(num, num**2))

square(5)
square(10)

The square of 5 is 25
The square of 10 is 100

**Return value**<br>
The return statement ends the function execution and send back the result of the function.

In [ ]:
def add_sub(a,b):
    add = a+b
    sub = a-b
    return add,sub
numbers = add_sub(10,5)
print("addition and subtraction is: ", numbers)

addition and subtraction is:  (15, 5)

**Multiple Parameters/Arguments**

In [ ]:
def printInfo(marks,name,age,message):
    print("Name: ", name)
    print("Age: ",age)
    print("Marks: ",marks)
    print("Message: ",message)
printInfo(100,"abc",16,"GoodMorning")

Name:  abc
Age:  16
Marks:  100
Message:  GoodMorning

**Void Function**<br>
When the function does not return a value, we call it a void function

**Loops and Iterations**<br>

In [ ]:
# Break statement
while True:
    line = input("Enter your name:")
    if line == 'done':
        break
    print(line)
print('Done!')

Enter your name:Soujanya
Soujanya
Enter your name:Done
Done
Enter your name:done
Done!

**Definite loops:**<br>
For loop

In [ ]:
friends = ['Jo','Joey','Sally']
for friend in friends:
    print("Hello",friend)
print("Done")

Hello Jo
Hello Joey
Hello Sally
Done

In [ ]:
for count in range(10):
  if count == 5:
    break
  print("The count is : ", count)
print("END")

The count is :  0
The count is :  1
The count is :  2
The count is :  3
The count is :  4
END

**What is the largest number:**

In [ ]:
largest_num = -1
for num in [9,3,21,85,6,55]:
    if num > largest_num:
        largest_num = num
    print(largest_num, num)
print("largest num is ",largest_num)

9 9
9 3
21 21
85 85
85 6
85 55
largest num is  85

We can use loop in many ways:<br>
Count and sum the loop <br>
Filtering the loop <br>
Searching using a Boolean Variable

**What is the smallest number:**

In [ ]:
small_num = None
for num in [9,19,21,3,21,85,6,55]:
    if small_num is None:
        small_num = num
    elif num < small_num:
        small_num = num
    print(small_num,num)
print(small_num)

9 9
9 19
9 21
3 3
3 21
3 85
3 6
3 55
3

**The "is" and "is not" Operators** <br>
**"is"** operator can be used in logical expressions <br>
**"is not"** is a logical operator

**Strings**<br>
A string is a sequence of characters.<br>
Len: gives us length of the string<br>
**Immutable**

**Looping through strings**<br>
Using for and while loops

In [ ]:
fruit = 'apple'
index = 0
while index < len(fruit):
    letter = fruit[index]
    print(index,letter)
    index = index+1

0 a
1 p
2 p
3 l
4 e

**Looping and counting**

In [ ]:
word = 'apple'
count = 0
for letter in word:
  if letter == 'p':
     count = count+1
print(count)

2

**Slicing Strings**<br>
Using a colon **:** operator <br>
**String concantenation** <br>
Using a **+** operator <br>
Using **in** as a logical operator <br>
**Searching a string**<br>
find() <br>
**Upper case or Lower case** <br>
upper() and lower() <br>
**Search and Replace**<br>
replace()
**Stripping whitespace**<br>
lstrip()<br>
rstrip()<br>
strip()<br>
**Prefixes**<br>
startswith

**Reading Files**<br>


**File Processing**<br>
A text file is a sequence of lines.<br>
**Opening a File**<br>
open()<br>
handle = open(filename,mode)<br>
**Counting lines in a File**<br>
Using a for loop<br>
**Reading the complete file**<br>
read()(newlines and lines in astring)<br>
**Skipping the lines**<br>
using continue<br>
**Stop the execution of the file**<br>
quit()

**Lists**<br>

A List is a ordered collection of data.<br>
List is represented by [] <br>
Lists are **mutable**: we can change an element of the list using the index operator.

**Concantenating Lists using + **<br>
**Lists can be sliced using :**<br>
**Adding elements**<br>
append()
**Sorting can be done:**<br>
sort()

In [ ]:
lst_one = ['one','two','three']
lst_two = ['four','five']
lst_one.append(lst_two)
print(lst_one)

['one', 'two', 'three', ['four', 'five']]

In [ ]:
lst_one.append([6,7])
print(lst_one)

['one', 'two', 'three', ['four', 'five'], [6, 7]]

In [ ]:
lst_one.remove([6,7])
print(lst_one)

['one', 'two', 'three', ['four', 'five']]

In [ ]:
lst_one.pop()
print(lst_one)

['one', 'two', 'three']

In [ ]:
lst_one = ['one','two','three']
lst_two = ['four','five']
lst_one + lst_two

['one', 'two', 'three', 'four', 'five']

In [ ]:
myStr = 'i want to sort this string'
words = myStr.split()
print(words)
words.sort()
print(" ".join(words))

['i', 'want', 'to', 'sort', 'this', 'string']
i sort string this to want

**Dictionaries**

A unordered collection of Key-value pairs.<br>
Dictionary is represented by {} <br>
**Mutable**<br>
Keys are unique, values may not be unique.

To check if the key is present in the dictionary or not<br>
**get()**<br>
We can retrieve keys,values and items(both) from dictionaries<br>
**keys(),values()and items()**<br>

In [ ]:
dict1 = {'jo':1,'jame':2,'sally':3}
for ky,val in dict1.items():
  print(ky,val)

jo 1
jame 2
sally 3

In [ ]:
# Updating a dict
dict1['joey'] = 4
dict1['sam'] = 5
print(dict1)

{'jo': 1, 'jame': 2, 'sally': 3, 'joey': 4, 'sam': 5}

In [ ]:
# deleting elements
del dict1['jo']
print(dict1)

{'jame': 2, 'sally': 3, 'joey': 4, 'sam': 5}

**Dictionary example**

In [ ]:
fname = input('Enter file: ')
if len(fname) <1 : 
  fname='clown.txt'
hand = open(fname)

di = dict()
for lin in hand:
  lin = lin.rstrip()
  #print(lin)
  words = lin.split()
  #print(words)
  for w in words:
    di[w] = di.get(w,0)+1
print(di)

# now we want the most common word
largest = -1
word = None
for k,v in di.items():
  #print(k,v)
  if v > largest:
    largest = v
    word = k
print("The most common word is {} and count of the word is {}".format(word,largest))

Enter file: intro.txt
The most common word is the and count of the word is 226

**Tuples**

Tuples are **immutable**<br>
Tuples are represented as **()**<br>

**Regular Expressions**

We need to **import re**<br>
re.search() is like find()<br>

^  match the start of the line<br>
$   matches the end of the line<br>
.   match any character<br>
'* Repeats a character zero or more times<br>
'*? Repeats a character zero or more times (non-greedy)<br>
'+' Repeats a character one or more times<br>
'+?' Repeats a character one or more times(non-greedy)<br>
\s  Matches whitespace<br>
\S  Matches any non-whitespace character<br>
[aeiou]  Matches a single character in the listed set<br>
[^XYZ]  Matches a single character not in the listed set<br>
[a-z0-9]  The set of characters can include a range
(        Indicates where string extraction is to start
)        Indicates where string extraction is to end

In [ ]:
import re
line = 'From stephen.henry@uct.ac.za sat Feb 19 09:14:16 2022'
y = re.findall('@([^ ]*)',line) 
print(y)

['uct.ac.za']

**Networked Programs**

**Transport Control Protocol(TCP)**<br>

*   Built on top of IP(Internet Protocol)
*   Handles flow control using a transmit window
*   Provides a nice reliable pipe

**Common TCP Ports**

*  Telnet (23) - Login
*  SSH (22) - Secure Login
*  HTTP(80)
*  HTTPS(443)- Secure
*  SMTP(25) - mail
*  IMAP(143/220/993)- Mail Retrieval
*  POP(109/110) - Mail Retrieval
*  DNS(53) - Domain Name
*  FTP(21) - File Transfer

**Sockets in Python**<br>
Python has builtin support for TCP sockets.<br>
import socket<br>
**Application Protocols**<br>
*   Mail
*   World Wide Web

**HTTP**<br>
The Hyper Text Transfer Protocol is the set of rules to allow browsers to retrieve web documents from servers over the internet.<br>

**Internet Standards**<br>
Standards are called **RFCs**- Request for Comments

In [ ]:
import socket

mysock = socket.socket(socket.AF_INET,socket.SOCK_STREAM)
mysock.connect(('data.pr4e.org',80))
cmd = 'GET http://data.pr4e.org/clown.txt HTTP/1.0\n\n'.encode()
mysock.send(cmd)

while True:
  data = mysock.recv(512)
  if (len(data) < 1):
    break
  print(data.decode())
mysock.close()

HTTP/1.1 400 Bad Request
Date: Sat, 19 Feb 2022 07:55:18 GMT
Server: Apache/2.4.18 (Ubuntu)
Content-Length: 308
Connection: close
Content-Type: text/html; charset=iso-8859-1

<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html><head>
<title>400 Bad Request</title>
</head><body>
<h1>Bad Request</h1>
<p>Your browser sent a request that this server could not understand.<br />
</p>
<hr>
<address>Apache/2.4.18 (Ubuntu) Server at do1.dr-chuck.com Port 80</address>
</body></html>

**Representing Strings**<br>

*  Each character is represented by a number between 0 and 256 stored in 8 bits of memory.
*   8 bits of memory as a **byte** of memory.
*   ord()- tell us the numeric value of ASCII character.

UTF-8 is for encoding data to be exchanged between systems.

Using **urllib** in Python

In [ ]:
import urllib.request,urllib.parse,urllib.error

In [ ]:
fhand = urllib.request.urlopen('http://data.pr4e.org/clown.txt')
for line in fhand:
  print(line.decode().strip())

the clown ran after the car and the car ran into the tent and the tent fell down on the clown and the car

**Reading a web page**

In [ ]:
import urllib.request,urllib.parse,urllib.error

fhand = urllib.request.urlopen('https://www.dr-chuck.com/page2.htm')
for line in fhand:
  print(line.decode().strip())

<h1>The Second Page</h1>
<p>
If you like, you can switch back to the
<a href="page1.htm">
First Page</a>.
</p>

**Count the words in a webpage**

In [ ]:
import urllib.request,urllib.parse,urllib.error

fhand = urllib.request.urlopen('http://data.pr4e.org/clown.txt')

count = dict()
for line in fhand:
  line = line.decode().split()
  for words in line:
    count[words] = count.get(words,0)+1
print(count)

{'the': 7, 'clown': 2, 'ran': 2, 'after': 1, 'car': 3, 'and': 3, 'into': 1, 'tent': 2, 'fell': 1, 'down': 1, 'on': 1}

**Web Scraping**<br>
We use BeautifulSoup.<br>
from bs4 import BeautifulSoup

In [1]:
# import requests
# url = "https://www.geeksforgeeks.org/data-structures/"
# r = requests.get(url)
# print(r.content)

**XML**<br>
eXtensible Markup Language<br>
It helps information systems to share structured data.<br>
*   Tags
*   Attributes
*   Serialize/De-Serialize

**XML example**

In [ ]:
import xml.etree.ElementTree as ET

input = '''
<person>
  <name>Tim</name>
  <id>5</id>
  <email hide='yes'/>
</person>
'''

tree = ET.fromstring(input)
print('Name:', tree.find('name').text)
print('Attr:',tree.find('email').get('hide'))

Name: Tim
Attr: yes

In [ ]:
import xml.etree.ElementTree as ET

input = '''
<data>
  <users>
    <user x ='1'>
      <id>001</id>
      <name>Jane</name>
    </user>
    <user x = '2'>
      <id>002</id>
      <name>James</name>
    </user>
  </users>
</data>'''

data = ET.fromstring(input)
lst = data.findall('users/user')
print("Count of users: ",len(lst))

for item in lst:
  print('Name:',item.find('name').text)
  print('Id:',item.find('id').text)
  print('Attribute:',item.get('x'))

Count of users:  2
Name: Jane
Id: 001
Attribute: 1
Name: James
Id: 002
Attribute: 2

**Json example**

In [ ]:
import json

data = '''
{
  "name" : "James",
  "phone" : {
    "number": "8465078443"
    },
   "email" :{
     "hide":"yes"
   } 
}'''

info = json.loads(data)
print('Name:',info["name"])
print('Email:',info["email"]["hide"])

Name: James
Email: yes

**Python Objects**

*   Class - a template
*   Method or message - A function within a class
*   Field or attribute - A variable within a class
*   Object or instance - A particular instance of a class<br>
**Constructor**<br>
The primary purpose of the constructor is to set up some instance variables to have the proper initial values when the object is created.<br>
The constructor in a class is a special block of statements called when an object is created. 

*   Inheritance - The ability to extend a class to make a new class.

**Databases**

**Databases**: contains many tables<br>
Relation or table <br>
Tuple or row <br>
Attribute(column or field)<br>

**SQL**<br>
*   Create a table
*   Retrieve data
*   Insert data
*   Delete data

**Database Model**<br>
It is the structure or format of a database.

**Database Normalization(3NF)**<br>
Do not replicate data-reference data-point at data<br>
Use integers for keys and for references.<br>
Add a special key column to each table which we will make references to.

**Kinds of keys**<br>
Primary key - generally an integer auto-increment field<br>
Logical key - What the outside world uses for lookup<br>
Foreign key - generally an integer key pointing to a row in another table<br>
**Key Rules**<br>
Never use your logical key as the primary key<br>
Logical keys can and do change<br>
Relationships that are based on matching string fields are less efficient than integers.<br>
**Foreign Key**<br>
A foreign key is when a table has a column that contains a key which points to the primary key of another table.<br>
When all primary keys are integers, then all foreign keys are integers.

**Many-to-many relationships**<br>

**Data Visualization**

**Search Engine Architecture**<br>
**Web Crawling**<br>
A Web crawler is a computer program that browses the World Wide Web in a methodical, automated manner. Web crawlers are mainly used to create a copy of all the visited pages for later processing by a search engine that will index the downloaded pages to provide fast searches.<br>
**Index Building**<br>
**Search Indexing**