<a href="https://colab.research.google.com/github/soujanya-vattikolla/Python_for_Everybody/blob/main/About_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

To know the **version** of python

In [1]:
!python --version

Python 3.7.12

### What is a Code?<br>
Stored set of instructions.

**Features of Python:**

Simple and easy to learn.<br>
Free and open source.<br>
General Purpose and high level programming language.<br>
Platform independent.<br>
Case Sensitive.<br>
Interpreted Language.<br>
Dynamically typed.

**Reserved words** <br>
You cannot use reserved words as variable names / identifiers

**Constants** <br>
Fixed values such as numbers, letters, their value does not change.<br>
Nummeric constants and String constants

**Variable** <br>
A variable is a container to store data values.<br>
**Rules**: <br>
Variable should start with a letter or _ <br>
Must consist of letters, numbers, underscores <br>
Case sensitive

**Expressions**<br>
Numeric Expressions <br>
**Operator Precedence**<br>
Parentheses, <br>
Exponentiation, <br>
Multiplication, <br>
Addition and <br>
Left to Right

**Integer division**<br>
It produces a floating point result.

**String conversions**

In [7]:
sval = '123'
print(type(sval))
print(sval+1) # we get a string concantenation error

<class 'str'>

TypeError: ignored

In [6]:
ival = int(sval)
print(type(ival))
print(ival+1)

<class 'int'>
124

**User Input**

In [9]:
nam = input("Enter your name:")
print('Welcome',nam)

Enter your name:Soujanya
Welcome Soujanya

**Converting user input**

In [11]:
inp = input("Enter floor ")
flr = int(inp)+1
print("Floor",flr)

Enter floor 5
Floor 6

**Comments**<br>
To add description to the code.

**Conditional Execution**<br>
Comparison operators look at variables but do not change the variables <br>
Boolean expressions using comparison operators evaluate to True/False or Yes/No

**Indentation**<br>
Indentation in Python refers to the (spaces and tabs) that are used at the beginning of a statement.

**Conditional Structures**<br>
One way decision <br>
Two way decision: <br>
   If and else   <br>
Nested Decisions   <br>
Multi way decision using elif

In [13]:
x = 1
if x<2:
    print("Below 2")
elif x >= 2:
    print("Two or more")
else:
    print("else")

Below 2

**if...elif..else Statement**

In [19]:
marks = int(input("Enter the marks:"))
if marks >=90 and marks<=100:
  print("A grade")
elif marks >=80:
  print("B grade")
elif marks >=70:
  print("C grade")
elif marks >=60:
  print("D grade")
else:
  print("Fail")

Enter the marks:85
B grade

**Nested if - else Statements**

In [20]:
marks = int(input("Enter marks: "))
if marks >= 75:
  print("Grade: ",end=' ')
  if marks >=90:
      print("A")
  elif marks >=80:
      print("B")
  elif marks >=70:
      print("C")
else:
  print("D")

Enter marks:80
Grade:  B

**Try and except Structure**<br>
If the code in try works, then except is skipped <br>
If the code in try fails, then except is executed

**Functions** <br>
Reusability of Code.<br>
There are two kinds of functions: Built-in functions and Functions that we define ourselves and then use <br>
We define a function using the def reserved word

In [22]:
def myFirstFunction():
  print("FirstFunction")
myFirstFunction()

FirstFunction

**Arguments** <br>
An argument is a value we pass into the function as its input when we call the function.

In [30]:
def square(num):
  print("The square of {} is {} " .format(num, num**2))

square(5)
square(10)

The square of 5 is 25
The square of 10 is 100

**Return value**<br>
The return statement ends the function execution and send back the result of the function.

In [32]:
def add_sub(a,b):
    add = a+b
    sub = a-b
    return add,sub
numbers = add_sub(10,5)
print("addition and subtraction is: ", numbers)

addition and subtraction is:  (15, 5)

**Multiple Parameters/Arguments**

In [33]:
def printInfo(marks,name,age,message):
    print("Name: ", name)
    print("Age: ",age)
    print("Marks: ",marks)
    print("Message: ",message)
printInfo(100,"abc",16,"GoodMorning")

Name:  abc
Age:  16
Marks:  100
Message:  GoodMorning

**Void Function**<br>
When the function does not return a value, we call it a void function

**Loops and Iterations**<br>

In [14]:
# Break statement
while True:
    line = input("Enter your name:")
    if line == 'done':
        break
    print(line)
print('Done!')

Enter your name:Soujanya
Soujanya
Enter your name:Done
Done
Enter your name:done
Done!

**Definite loops:**<br>
For loop

In [15]:
friends = ['Jo','Joey','Sally']
for friend in friends:
    print("Hello",friend)
print("Done")

Hello Jo
Hello Joey
Hello Sally
Done

In [21]:
for count in range(10):
  if count == 5:
    break
  print("The count is : ", count)
print("END")

The count is :  0
The count is :  1
The count is :  2
The count is :  3
The count is :  4
END

**What is the largest number:**

In [16]:
largest_num = -1
for num in [9,3,21,85,6,55]:
    if num > largest_num:
        largest_num = num
    print(largest_num, num)
print("largest num is ",largest_num)

9 9
9 3
21 21
85 85
85 6
85 55
largest num is  85

We can use loop in many ways:<br>
Count and sum the loop <br>
Filtering the loop <br>
Searching using a Boolean Variable

**What is the smallest number:**

In [17]:
small_num = None
for num in [9,19,21,3,21,85,6,55]:
    if small_num is None:
        small_num = num
    elif num < small_num:
        small_num = num
    print(small_num,num)
print(small_num)

9 9
9 19
9 21
3 3
3 21
3 85
3 6
3 55
3

**The "is" and "is not" Operators** <br>
**"is"** operator can be used in logical expressions <br>
**"is not"** is a logical operator